.section {
  padding: 50px 0;

  .image-container {
    display: flex;
    justify-content: center;

    .image-wrapper {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #043136;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .photo {
        color: #ffffff;

        ::ng-deep {
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .user-info-wrapper {
    margin-top: 40px;
    .user-options {
      margin-bottom: 15px;
      color: var(--dark-green);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;

      a {
        display: inline-block;
        color: var(--dark-green);
        padding-left: 10px;
      }

      .font-big {
        font-size: 28px;
        font-weight: 700;
      }
    }
  }
}

.color-section {
  background-color: #eceef0;

  .header {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 400;
    padding-left: 15px;
    color: var(--dark);
  }

  .products-container {
    padding-top: 20px;
  }

  .products-wrapper {
    margin-top: 40px;

    .link {
      color: var(--dark-green);
    }
  }
}
