<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row mt-lg-4">
          <div class="col-lg-4 order-4 order-lg-1">
            <div class="info-wrapper">
              <div class="d-none d-lg-block">
                <h1 class="title">BMW 328 X-Drive 2013</h1>
                <h2 class="price">14 950 $</h2>
              </div>
              <div class="shadow-box">
                <div class="author-wrapper">
                  <a routerLink="/user-profile" class="author-info">
                    <div class="author-img-wrapper">
                      <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                    </div>
                    <div class="author-name-wrapper">
                      <p class="subtitle">Продавець</p>
                      <p class="author-name">Діма</p>
                      <ngb-rating class="rating" [rate]="2" [readonly]="true" [max]="5"></ngb-rating>
                    </div>
                  </a>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/map-pin.svg"></svg-icon>
                    Івано-Франківськ
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/phone.svg"></svg-icon>
                    <a href="tel: +38 098 22 45 697" title="+38 098 22 45 697"> +38 098 22 45 697</a>
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/mail.svg"></svg-icon>
                    <a href="mailto:joinauto2020@gmail.com" title="joinauto2020@gmail.com">joinauto2020@gmail.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-4 mt-lg-0 order-1 order-lg-2">
            <div class="d-block d-lg-none mb-3 mb-lg-0">
              <h1 class="title">BMW 328 X-Drive 2013</h1>
              <h2 class="price">14 950 $</h2>
            </div>
            <div class="image-wrapper">
              <owl-carousel-o [options]="customOptions">
                <ng-template *ngFor="let item of [1,2,3,4,5]" carouselSlide><img
                  src="https://cdn0.riastatic.com/photosnew/auto/photo/bmw_328__327959505f.jpg" alt="image">
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
          <div class="col-lg-4 order-2 order-lg-3">
            <div class="shadow-box">
              <div class="description">
                <h2 class="small-title">BMW 328 X-Drive 2013</h2>
                <p class="main-info">Седан • 4 дверей • 5 місць</p>
                <!--              description-->
                <div class="description-main">
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Пробіг</p>
                    </div>
                    <div class="col-8">
                      <p>
                        139 тис. км
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Двигун</p>
                    </div>
                    <div class="col-8">
                      <p>
                        2 л (245 к.с. / 180 кВт) • Бензин
                      </p>
                      <p>
                        місто 12 • траса 9 • змішаний 11
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Коробка передач</p>
                    </div>
                    <div class="col-8">
                      <p>
                        Автомат
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Привід</p>
                    </div>
                    <div class="col-8">
                      <p>
                        Повний
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Колір</p>
                    </div>
                    <div class="col-8">
                      <p>
                        Чорний металік
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 order-3 order-lg-4">
            <div class="shadow-box">
              <div class="description-block">
                <h2 class="title">Опис</h2>
                <p class="description-text">
                  Топ Автообіль який коштує своїх грошей
                </p>
              </div>
            </div>

            <div class="shadow-box">
              <div class="description-block">
                <h2 class="title">Пропозиції</h2>
                <ul class="sell-offers-list">
                  <li *ngFor="let offer of [1,2,3,4]" class="offer">
                    <div class="shadow-box background">
                      <div class="offer-person-wrapper">
                        <div class="img-wrapper">
                          <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                        </div>
                        <p class="name">Іван</p>
                      </div>
                      <p class="gray-text">Сума: <span class="green-text">20 000$</span></p>
                      <p class="gray-text">Коментарій: <span class="dark-text">Готовий купити даний автомобіль за вказану суму</span></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
