<section>
  <div class="container">
    <div *ngIf="showForm && availableForPromote && !isProductShared && !isSold" class="row">
      <div class="col-12">
        <p class="add-product-text">Додати авто в список ваших товарів? <button class="add-btn" (click)="addToOwnList()">+ Додати</button></p>
        <p class="add-product-hint">У випадку продажу авто через вашу сторінку, ви отримаєте винагороду від продавця у
          розмірі <span class="compensation-text">{{productData.promote_compensation_type}}$</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row mt-lg-4">
          <div class="col-lg-4 order-4 order-lg-1">
            <div class="info-wrapper">
              <div class="d-none d-lg-block">
                <h1 class="title">{{productData.brand}} {{productData.model}} {{productData.year}}</h1>
                <h2 class="price">{{productData.price}} $</h2>
              </div>
              <div class="shadow-box">
                <div class="author-wrapper">
                  <a routerLink="/user-profile" class="author-info">
                    <div class="author-img-wrapper">
                      <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                    </div>
                    <div class="author-name-wrapper">
                      <p class="subtitle">Продавець</p>
                      <a *ngIf="userInfo._id !== authService.userId" [routerLink]="['/user-profile', userInfo._id]" class="author-name text-capitalize">{{userInfo.user_name}}</a>
                      <a *ngIf="userInfo._id === authService.userId && userInfo._id" [routerLink]="['/user-profile']" class="author-name text-capitalize">{{userInfo.user_name}}</a>
                      <ngb-rating *ngIf="userInfo.can_rate" class="rating" [rate]="2" [readonly]="true"
                                  [max]="5"></ngb-rating>
                    </div>
                  </a>
                  <p class="user-options text-capitalize">
                    <svg-icon src="../../../assets/images/map-pin.svg"></svg-icon>
                    {{userInfo.location}}
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/phone.svg"></svg-icon>
                    <a [href]="'tel:' + userInfo.phone_number"
                       [title]="userInfo.phone_number">{{userInfo.phone_number}}</a>
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/mail.svg"></svg-icon>
                    <a [href]="'mailto:' + userInfo.email" [title]="userInfo.email">{{userInfo.email}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-4 mt-lg-0 order-1 order-lg-2">
            <div class="d-block d-lg-none mb-3 mb-lg-0">
              <h1 class="title">{{productData.brand}} {{productData.model}} {{productData.year}}</h1>
              <h2 class="price">{{productData.price}} $</h2>
            </div>
            <div class="image-wrapper">
              <owl-carousel-o [options]="customOptions">
                <ng-template *ngFor="let item of productData.images" carouselSlide><img
                  [src]="item" alt="image">
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
          <div class="col-lg-4 order-2 order-lg-3">
            <div class="shadow-box">
              <div class="description">
                <h2
                  class="small-title text-capitalize">{{productData.brand}} {{productData.model}} {{productData.year}}</h2>
                <p class="main-info text-capitalize">{{constantsService.BODY_TYPE[productData.body_type]}}</p>
                <!--              description-->
                <div class="description-main">
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Пробіг</p>
                    </div>
                    <div class="col-8">
                      <p>
                        {{productData.mileage}} км
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Двигун</p>
                    </div>
                    <div class="col-8">
                      <p>
                        {{constantsService.ENGINE[productData.engine]}} л
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Коробка передач</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.TRANSMISSION[productData.transmittion]}}
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Привід</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.WHEEL_DRIVE[productData.wheel_drive]}}
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Колір</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.COLOR[productData.color]}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 order-3 order-lg-4">
            <div class="shadow-box">
              <div class="description-block">
                <h2 class="title">Опис</h2>
                <p class="description-text">
                  {{productData.description}}
                </p>
              </div>
            </div>

            <div *ngIf="showForm && !isSold" class="shadow-box">
              <form [formGroup]="addOfferForm" (ngSubmit)="createOffer()">
                <div class="description-block">
                  <h2 class="title">Зробити пропозицію</h2>
                  <div class="input-wrapper mt-3">
                    <input class="input-default textarea" type="number" placeholder="Додайте ціну, $"
                           formControlName="price">
                  </div>

                  <div class="input-wrapper mt-3">
                    <input class="input-default textarea" placeholder="Додайте коментар" formControlName="comment">
                  </div>
                </div>
                <div class="offer-button-wrapper mt-4">
                  <button type="submit" class="add-offer btn border">Зробити пропозицію</button>
                </div>
              </form>
            </div>

            <div *ngIf="buyRequests.length && !isSold" class="shadow-box">
              <div class="description-block">
                <h2 class="title">Пропозиції</h2>
                <ul class="sell-offers-list">
                  <li *ngFor="let offer of buyRequests" class="offer">
                    <div class="shadow-box background">
                      <div *ngIf="!showApproveButton && offer.approved !== false" class="approve-wrapper">
                        <button class="btn approve-btn" (click)="approve(offer._id)">Погодитися</button>
                        <button class="btn approve-btn decline-btn" (click)="decline(offer._id)">Відмовити</button>
                      </div>
                      <div class="offer-person-wrapper">
                        <div class="img-wrapper">
                          <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                        </div>
                        <a [routerLink]="['/user-profile', offer.user_id]" class="name">{{offer.user_name}}</a>
                      </div>
                      <p class="gray-text">Сума: <span class="green-text">{{offer.price}}$</span></p>
                      <p class="gray-text">Коментарій: <span class="dark-text text-capitalize">{{offer.comment}}</span>
                      </p>
                      <p *ngIf="offer.approved === false" class="declined">Відмовлено!</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <p *ngIf="!isSoldWith && isSold" class="sold text-center">Автомобіль продано!</p>
            <p *ngIf="isSoldWith && isSold" class="sold text-center">Автомобіль продано за допомогою користувача <a class="link" [routerLink]="['/user-profile', isSoldWith]">{{soldWithUserName}}</a>!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
