<a [routerLink]="['/order-page', orderData._id]" class="product">
  <div class="product-wrapper">
    <p class="order">Замовлення:</p>
    <p class="name"><span class="info-text">Марка:</span> {{orderData.title}} {{orderData.model}}</p>
    <p class="name"><span class="info-text">Рік:</span> {{orderData.year_from}} - {{orderData.year_to}}</p>
    <p class="info"><span class="info-text">Ціна:</span> {{orderData.price_from}}$ - {{orderData.price_to}}$</p>
    <p class="name"><span class="info-text">Пробіг</span>: ~{{orderData.mileage}} км</p>
  </div>
</a>
