<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Додати оголошення</h1>
        <div class="shadow-box">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="section-box">
              <div class="header">
                <div class="section-number"><span>1</span></div>
                <h2 class="section-title">
                  Додайте декілька фото
                </h2>
              </div>
              <div class="add-photo-wrapper">
                <input type="file" id="setPhoto" class="d-none" (change)="addPhoto($event)">
                <label class="set-photo" for="setPhoto">
                  <svg-icon src="../../assets/images/plus-circle.svg"></svg-icon>
                  <span class="bottom-text">Додати фото</span>
                </label>
                <div *ngFor="let photo of photosList; index as i" class="set-photo added-photo">
                  <svg-icon src="../../assets/images/image.svg"></svg-icon>
                  <span class="bottom-text">{{photo.name}}</span>
                  <button class="remove" (click)="removePhoto(i)">x</button>
                </div>
              </div>
            </div>

            <div class="section-box">
              <div class="header">
                <div class="section-number"><span>2</span></div>
                <h2 class="section-title">
                  Основна інформація
                </h2>
              </div>
              <div class="select-info-wrapper">
                <div class="select-wrapper">
                  <ng-autocomplete
                    formControlName="name"
                    placeHolder="Марка авто"
                    [data]="data"
                    [searchKeyword]="keywords"
                    [itemTemplate]="markTemplate"
                    [notFoundTemplate]="notFoundMarkTemplate">
                  </ng-autocomplete>

                  <ng-template #markTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundMarkTemplate>
                    <div [innerHTML]="'Не знайдено'"></div>
                  </ng-template>
                </div>

                <div class="select-wrapper">
                  <ng-autocomplete
                    formControlName="model"
                    placeHolder="Модель авто"
                    [data]="[1,2,3]"
                    [searchKeyword]="keywords"
                    [itemTemplate]="modelTemplate"
                    [notFoundTemplate]="notFoundModelTemplate">
                  </ng-autocomplete>

                  <ng-template #modelTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>
                </div>

                <div class="select-wrapper">
                  <ng-autocomplete
                    formControlName="year"
                    placeHolder="Рік випуску"
                    [data]="[1,2,3]"
                    [searchKeyword]="keywords"
                    [itemTemplate]="yearTemplate"
                    [notFoundTemplate]="notFoundYearTemplate">
                  </ng-autocomplete>

                  <ng-template #yearTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>
                </div>

                <div class="select-wrapper">
                  <select class="input-default" formControlName="bodyType">
                    <option [selected]="true" disabled>Тип кузова</option>
                    <option value="1">Седан</option>
                    <option value="2">Позашляховик</option>
                    <option value="3">Купе</option>
                  </select>
                </div>

                <div class="select-wrapper">
                  <input type="number" class="input-default" placeholder="Пробіг, км" formControlName="mileage">
                </div>

                <div class="select-wrapper">
                  <select class="input-default" formControlName="engine">
                    <option [selected]="true" disabled>Об'єм двигуна</option>
                    <option value="1">1.5</option>
                    <option value="2">1.6</option>
                    <option value="3">2.0</option>
                    <option value="4">2.2</option>
                    <option value="5">2.5</option>
                    <option value="6">3.0</option>
                  </select>
                </div>

                <div class="select-wrapper">
                  <select class="input-default" formControlName="transmittion">
                    <option [selected]="true" disabled>Трансмісія</option>
                    <option value="1">Автоматична</option>
                    <option value="2">Механічна</option>
                  </select>
                </div>

                <div class="select-wrapper">
                  <select class="input-default" formControlName="wheelDrive">
                    <option [selected]="true" disabled>Привід</option>
                    <option value="1">Передній</option>
                    <option value="2">Задній</option>
                    <option value="3">Повний</option>
                  </select>
                </div>

                <div class="select-wrapper">
                  <select class="input-default" formControlName="color">
                    <option [selected]="true" disabled>Колір</option>
                    <option value="1">Червоний</option>
                    <option value="2">Синій</option>
                    <option value="3">Жовтий</option>
                    <option value="4">Білий</option>
                    <option value="5">Чорний</option>
                  </select>
                </div>

                <div class="select-wrapper">
                  <div class="row mt-4">
                    <div class="col-6 d-flex justify-content-between">
                      <p class="label-text">Новий</p>
                      <input type="radio" id="used" class="radio-input d-none" formControlName="isNew" name="isNew"
                             [value]="1">
                      <label for="used" class="label">
                        <img src="../../../assets/images/check.svg" alt="check">
                      </label>
                    </div>
                    <div class="col-6 d-flex justify-content-between">
                      <p class="label-text">Б/В</p>
                      <input type="radio" id="not-used" class="radio-input d-none" formControlName="isNew" name="isNew"
                             [value]="0" [checked]="true">
                      <label for="not-used" class="label">
                        <img src="../../../assets/images/check.svg" alt="check">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-box">
              <div class="header">
                <div class="section-number"><span>3</span></div>
                <h2 class="section-title">
                  Ціна, $
                </h2>
              </div>
              <div class="select-info-wrapper">
                <div class="select-wrapper">
                  <input type="number" class="input-default" placeholder="Введіть ціну в $" formControlName="price">
                </div>
              </div>

              <h2 class="sub-title">
                Дозволити поширення?
              </h2>
              <div class="select-info-wrapper pt-0">
                <div class="row mt-4">
                  <div class=" col-5 col-md-2 d-flex justify-content-between">
                    <p class="label-text">Так</p>
                    <input type="radio" id="allow" class="radio-input d-none" formControlName="allowPromote"
                           name="allowPromote"
                           [value]="1" [checked]="true" (change)="allowPromote(true)">
                    <label for="allow" class="label">
                      <img src="../../../assets/images/check.svg" alt="check">
                    </label>
                  </div>
                  <div class="col-5 col-md-2 d-flex justify-content-between">
                    <p class="label-text">Ні</p>
                    <input type="radio" id="disallow" class="radio-input d-none" formControlName="allowPromote"
                           name="allowPromote"
                           [value]="0" (change)="allowPromote(false)">
                    <label for="disallow" class="label">
                      <img src="../../../assets/images/check.svg" alt="check">
                    </label>
                  </div>
                </div>

                <div class="select-info-wrapper pl-0">
                  <div class="select-wrapper">
                    <input type="number" class="input-default" placeholder="Винагорода, $"
                           formControlName="compensation">
                  </div>
                </div>
              </div>
            </div>

            <div class="section-box">
              <div class="header">
                <div class="section-number"><span>4</span></div>
                <h2 class="section-title">
                  Додайте опис
                </h2>
              </div>
              <div class="select-info-wrapper">
                <div class="select-wrapper textarea-wrapper">
                  <textarea class="input-default" cols="30" rows="40" placeholder="Опис" formControlName="description"></textarea>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="button btn-alternative hover-effect">Розмістити оголошення</button>
            </div>
            <div class="error-block" *ngIf="!validForm">
              <p class="error">Заповніть усі поля</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
