<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row mt-lg-4">
          <div class="col-lg-6 order-4 order-lg-1">
            <div class="info-wrapper">
              <div class="d-none d-lg-block">
                <h1 class="title text-capitalize">{{orderData.title}} {{orderData.model}}</h1>
                <h1 class="title mt-2 text-capitalize">{{orderData.year_from}} - {{orderData.year_to}}</h1>
                <h2 class="price text-capitalize">{{orderData.price_from}} $ - {{orderData.price_to}} $</h2>
              </div>
              <div class="shadow-box">
                <div class="author-wrapper">
                  <div class="author-info">
                    <div class="author-img-wrapper">
                      <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                    </div>
                    <div class="author-name-wrapper">
                      <p class="subtitle">Замовник</p>
                      <p class="author-name">{{orderData.user_owner.user_name}}</p>
                      <ngb-rating class="rating" [rate]="2" [readonly]="true" [max]="5"></ngb-rating>
                    </div>
                  </div>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/map-pin.svg"></svg-icon>
                    {{orderData.user_owner.location}}
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/phone.svg"></svg-icon>
                    <a [href]="'tel:' +  orderData.user_owner.phone_number"
                       [title]="orderData.user_owner.phone_number"> {{orderData.user_owner.phone_number}}</a>
                  </p>
                  <p class="user-options">
                    <svg-icon src="../../../assets/images/mail.svg"></svg-icon>
                    <a [href]="'mailto:' + orderData.user_owner.email"
                       [title]="orderData.user_owner.email">{{orderData.user_owner.email}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-block d-lg-none mb-4">
            <h1 class="title">{{orderData.title}} {{orderData.model}}</h1>
            <h1 class="title mt-2">{{orderData.year_from}} - {{orderData.year_to}}</h1>
            <h2 class="price">{{orderData.price_from}} $ - {{orderData.price_to}} $</h2>
          </div>
          <div class="col-lg-6 order-2 order-lg-3 d-flex align-items-end">
            <div class="shadow-box mt-0 w-100">
              <div class="description">
                <h2 class="small-title">{{orderData.title}} {{orderData.model}}</h2>
                <p class="main-info text-capitalize">{{constantsService.BODY_TYPE[orderData.body_type]}}</p>
                <!--              description-->
                <div class="description-main">
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Пробіг</p>
                    </div>
                    <div class="col-8">
                      <p>
                        {{orderData.mileage}} км
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Двигун</p>
                    </div>
                    <div class="col-8">
                      <p>
                        {{constantsService.ENGINE[orderData.engine]}} л
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Коробка передач</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.TRANSMISSION[orderData.transmittion]}}
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Привід</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.WHEEL_DRIVE[orderData.wheel_drive]}}
                      </p>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4">
                      <p class="gray-text">Колір</p>
                    </div>
                    <div class="col-8">
                      <p class="text-capitalize">
                        {{constantsService.COLOR[orderData.color]}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 order-3 order-lg-4">
            <div class="shadow-box">
              <div class="description-block">
                <h2 class="title">Коментар</h2>
                <p class="description-text">
                  {{orderData.description}}
                </p>
              </div>
            </div>

            <div *ngIf="showForm && !orderData.selected_application" class="shadow-box">
              <form [formGroup]="applicationForm" (ngSubmit)="createApplication()">
                <div class="description-block form-block">
                  <h2 class="title">Зробити пропозицію</h2>
                  <div class="input-wrapper mt-3">
                    <input class="input-default textarea" type="number" placeholder="Додайте ціну, $"
                           formControlName="price">
                  </div>

                  <div class="input-wrapper mt-3">
                    <input type="date" class="input-default" formControlName="dateComplete">
                  </div>

                  <div class="input-wrapper mt-3">
                    <input class="input-default textarea" placeholder="Додайте коментар" formControlName="message">
                  </div>
                  <div class="offer-button-wrapper mt-4">
                    <button type="submit" class="add-offer btn border">Зробити пропозицію</button>
                  </div>
                </div>
              </form>
            </div>

            <div *ngIf="applicationsList.length" class="shadow-box">
              <div class="description-block">
                <h2 class="title">Пропозиції</h2>
                <ul class="sell-offers-list">
                  <li *ngFor="let application of applicationsList" class="offer">
                    <div class="shadow-box background" [ngClass]="{'approved-application': application.approved}">
                      <div
                        *ngIf="!showApproveButton && application.approved === null"
                        class="approve-wrapper">
                        <button class="btn approve-btn" (click)="approveApplication(application._id)">Погодитися
                        </button>
                        <button class="btn approve-btn decline-btn" (click)="declineApplication(application._id)">
                          Відмовити
                        </button>
                      </div>
                      <div class="offer-person-wrapper">
                        <div class="img-wrapper">
                          <svg-icon src="../../../assets/images/user.svg"></svg-icon>
                        </div>
                        <p class="name">{{application.applicant_name}}</p>
                      </div>
                      <p class="gray-text">Сума: <span class="green-text">{{application.price}} $</span></p>
                      <p class="gray-text">Коментарій: <span class="dark-text">{{application.message}}</span></p>
                      <p class="gray-text">Буде виконано до: <span
                        class="dark-text">{{application.date_complete_to | date: 'MM/dd/yy'}}</span></p>
                      <p *ngIf="application.approved === false" class="declined">Відмовлено!</p>
                      <p *ngIf="application.approved" class="approved">Прийнято!</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

