<a [routerLink]="['/product-page', vehicleData._id]" [queryParams]="{q: referalTokenParam}" class="product">
<div class="product-wrapper">
  <div class="img-wrapper" [ngClass]="{'show-hot': showHot}">
    <span class="image-background" [ngStyle]="{'background-image': 'url('+vehicleData.images[0]+')'}">
    </span>
  </div>
  <p class="name">{{vehicleData.brand}} {{vehicleData.model}} {{vehicleData.year}}</p>
  <p class="info">{{vehicleData.price}}$ <span class="mileage">{{vehicleData.mileage}} км</span></p>
</div>
</a>
